.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.content {
    text-align: center;
    color: #fff;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-code-input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.room-code-input::placeholder {
    color: #ccc;
}

.room-code-input:focus {
    background-color: #0056b3;
}

button {
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #218838;
}

button:active {
    transform: scale(0.95);
}